#craftingTable tr > td{
  outline-style: solid;
  width: 31.2px;
  height: 31.2px;
  background-color: #ffb53f;
}
#recipe tr > td{
  border-style: solid;
  width: 31.2px;
  height: 31.2px;
  background-color: #cc9640;
}
#recipe{
  background-color: #806740;
}
caption{
  width: 106px;
}
html{
  width: 0;
  height: 0;
}
body{
  display: flex;
}